@model IEnumerable<ASPNETAssignment.Models.Store>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("View Store Products", "Index", "CustomerProducts", new { storeID = item.StoreID })
            </td>
        </tr>
}
    </tbody>
</table>
